@model E_Interview.Models.InterviewDetailsModel

@{
    ViewBag.Title = "InterviewDetails";
}

<h2>InterviewDetails</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>InterviewDetailsModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactNumber)
                @Html.ValidationMessageFor(model => model.ContactNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactEmail)
                @Html.ValidationMessageFor(model => model.ContactEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qualification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qualification)
                @Html.ValidationMessageFor(model => model.Qualification)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
